<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="fullmetrix_customer_login" instance="Fullmetrix\Connector\Observer\CustomerLogin"/>
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="fullmetrix_cart_add" instance="Fullmetrix\Connector\Observer\CartAddProduct"/>
    </event>
    <event name="checkout_cart_save_after">
        <observer name="fullmetrix_cart_save" instance="Fullmetrix\Connector\Observer\CartSaveAfter"/>
    </event>
</config>
